:ruby
  @task_chart = Hash.new
  @tasks = Hash.new
  @tasks[:today] = Hash.new
  @tasks[:week] = Hash.new
  @tasks[:month] = Hash.new

  t = @member.tasks
  @tasks[:today][:total] = t.length
  @tasks[:today][:complete] = t.select {|task| task.complete == true }.count

  t = @member.tasks(7.days.ago.to_date)
  @tasks[:week][:total] = t.length
  @tasks[:week][:complete] = t.select {|task| task.complete == true }.count

  t = @member.tasks(1.month.ago.to_date)
  @tasks[:month][:total] = t.length
  @tasks[:month][:complete] = t.select {|task| task.complete == true }.count

  @task_chart[:today] = LazyHighCharts::HighChart.new('pie') do |f|
      f.chart({:defaultSeriesType=>"pie" , :margin=> [5, 0, 5, 0]} )
    series = {
      :type=> 'pie',
          :name=> "Today's Tasks",
          :data=> [
              ['Complete', @tasks[:today][:complete] ],
              [ 'Incomplete', ( @tasks[:today][:total] - @tasks[:today][:complete]) ]
          ]
    }
    f.series(series)
    f.options[:title][:text] = "Today's Tasks"
    f.legend(:layout=> 'vertical',:style=> {:left=> 'auto', :bottom=> 'auto',:right=> '50px',:top=> '100px'})
    f.plot_options(:pie=>{
      :allowPointSelect=>true,
                         :cursor=>"pointer" ,
                         :dataLabels=>{
                             :enabled=>true,
                             :color=>"black",
                             :style=>{
                                 :font=>"13px Trebuchet MS, Verdana, sans-serif"
                             }
                         }
      })
  end

  @task_chart[:week] = LazyHighCharts::HighChart.new('pie') do |f|
      f.chart({:defaultSeriesType=>"pie" , :margin=> [5, 0, 5, 0]} )
    series = {
      :type=> 'pie',
          :name=> "Last Week's Tasks",
          :data=> [
              ['Complete', @tasks[:week][:complete] ],
              [ 'Incomplete', ( @tasks[:week][:total] - @tasks[:week][:complete]) ]
          ]
    }
    f.series(series)
    f.options[:title][:text] = "Last Week's Tasks"
    f.legend(:layout=> 'vertical',:style=> {:left=> 'auto', :bottom=> 'auto',:right=> '50px',:top=> '100px'})
    f.plot_options(:pie=>{
      :allowPointSelect=>true,
                         :cursor=>"pointer" ,
                         :dataLabels=>{
                             :enabled=>true,
                             :color=>"black",
                             :style=>{
                                 :font=>"13px Trebuchet MS, Verdana, sans-serif"
                             }
                         }
      })
  end

  @task_chart[:month] = LazyHighCharts::HighChart.new('pie') do |f|
      f.chart({:defaultSeriesType=>"pie" , :margin=> [5, 0, 5, 0]} )
    series = {
      :type=> 'pie',
          :name=> "Last Month's Tasks",
          :data=> [
              ['Complete', @tasks[:month][:complete] ],
              [ 'Incomplete', ( @tasks[:month][:total] - @tasks[:month][:complete]) ]
          ]
    }
    f.series(series)
    f.options[:title][:text] = "Last Month's Tasks"
    f.legend(:layout=> 'vertical',:style=> {:left=> 'auto', :bottom=> 'auto',:right=> '50px',:top=> '100px'})
    f.plot_options(:pie=>{
      :allowPointSelect=>true,
                         :cursor=>"pointer" ,
                         :dataLabels=>{
                             :enabled=>true,
                             :color=>"black",
                             :style=>{
                                 :font=>"13px Trebuchet MS, Verdana, sans-serif"
                             }
                         }
      })
  end

.uk-grid
  .uk-width-1-3
    = high_chart("today_pie_chart", @task_chart[:today])
  .uk-width-1-3
    = high_chart("week_pie_chart", @task_chart[:week])
  .uk-width-1-3
    = high_chart("month_pie_chart", @task_chart[:month])